@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Agustina;
    src: url("./fonts/Agustina-Signature.otf") format("truetype");
}

.signature {
    font-family: Agustina;
}