@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Agustina;
    src: url("./assets/fonts/Agustina-Signature.otf") format("truetype");
}

html, body {
    scroll-behavior: smooth;
}

.signature {
    font-family: Agustina;
}

.active {
    color: white;
    border-bottom: 1px solid white;
}

.deactive {
    color: #7e9199;
    border-bottom: none;
}